*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    overflow-x: hidden;
}
/* social-buttons-container */

.social-app-container{
    z-index: 4;
    left:5px;
    top:50%;
    transition:1s ease-in 2s;
}
.social-button{
    height:40px;
    width:40px;
    text-align: center;
    border-radius: 3px;
}
.social-facebook{
    background-color:#4267B2;
}
.social-twitter{
    background-color: #55acee;
}
.social-linkedin {
    background-color: #0077b5;
}
.social-app-container i{
    color: #ffffff;
    font-size:20px;
}

/* nav-part */
.navbar-custom{
    background-color: #502274;
}
.nav-link p{
    color: #ffffff;
    font-size: 14px;
}

.liked-btn{
    background-color: #FE7700;
}

.nav-link div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-link div img{
    height:33px;
    width:33px;
}
.nav-link:hover p{
    color:#FE7700;
}
.profile-link{
    height: 33px;
    width:33px;
    border-radius:30px;
    border-color:#ffffff;
}
.profile-link img{
    border-radius: 25px;
}
#option1{
    border:2px solid black;
}
.profile-btn{
    font-size:14px;
}
.arrow{
    height:15px !important;
    width:15px !important;
    cursor: pointer;
}
.options{
    top:95%;
    right:10%;
    z-index: 2;
    color:#ffffff;
    list-style-type: none;
    border-width:0;
}
.options li{
    background-color: #FE7700;
    border-bottom: 1px solid grey;
    padding:8px 10px 8px 10px;
    width:150px;
    cursor: pointer;
}
.search-input-el{
    height:64px;
    width:672px;
    border-radius:34px;
    padding:0px 80px 0px 0px;
    background-color: #ffffff;
}
.specific-input{
    width:120px;
    font-size:13px;
}
.specific-input-3{
    width:200px;
    font-size:13px;
}
::placeholder{
    font-size: 12px;
}
.specific-search-container{
    left:10%;
    top:21%;
}
.search-btn{
    height:56px;
    width:56px;
    border:0;
    border-radius:100%;
    background-color: #FE7700;
    top:7%;
    right:1%;

}
.search-btn-mobile{
    height:40px;
    width:40px;
    border-radius:100%;
    background-color: #FE7700;
}
.hamberger{
    right:60%;
    bottom: 10%;
}
.search-icon{
    color:#ffffff;
}
.specific-search h4{
    font-size:14px;
}
.specific-search p{
    font-size:12px;
    color:#96969B;
}
.resp-search-bar{
    height: 120px;
    z-index: 3;
    display: block;
}
.navbar{
    z-index: 2;
}
form{
    height:80%;
}
.close-btn{
    height:100%;
    width:8%;
}
.close-btn i{
    font-size:24px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.mobile-searh-input{
    width:90%;
    height:100%;
    border:0;
    margin-left:5px;
    font-size:24px;
    padding-left:20px;
    padding-right:4%;
}
/* carosel-part */
.carousel-item img{
    max-height:400px;
}
.carousel-custom{
    margin-top:150px;
}
.carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-right:10px;
  }

.carousel-control-next-icon {
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e); */
    background: none;
    width:46px;
    height:46px;
    border:2px solid #ffffff;
    border-radius: 100%;
    position: absolute;
    right:20px;
}
.carousel-control-prev-icon{
    width:46px;
    height:46px;
    border:2px solid #ffffff;
    border-radius: 100%;
    position: absolute;
    left:20px;
}
.carousel-control-prev-icon{
    background: none;
}
.carousel-control-next, .carousel-control-prev{
    z-index: 1;
}
.carousel-indicators{
    z-index: 1;
}
.custom-arrow{
    margin-top:13px;
}
/* content-part */
.section-head h1{
    font-size:24px;
    color:#2F242C;
}
.section-head a{
    text-decoration: none;
}
.head-underline{
    height:6px;
    width:50px;
    background-color: #FE7700;
    border-radius:4px;
}
.head-underline-2{
    height:6px;
    width:20px;
    background-color: #FE7700;
    border-radius:4px;
}
.section-head p{
    font-size:16px;
    color:#FE7700;
    font-family: 'Montserrat';
    font-weight:600;
}
.event-card-btn{
    border-width:0px;
    height:30px;
    width:30px;
    background-color:#ffffff;
    border-radius: 15px;
    padding:0px 0px 7px 0px;
    margin:0px 50px 0px 0px;
}
.event-card{
    background:#502274;
    border-radius:10px;
    padding:8px 0px 0px 8px;
    color:#ffffff;
    height:190px;
}
.event-card h1{
    font-size:24px;
}
.event-card p{
    font-size: 10px;
}
.description-container span{
    color:#FE7700;
    font-weight:600;
    font-size:12px;
}
.description-container h4{
    color:#231000;
    font-size:16px;
    font-weight: 600;
}
.description-container p{
    color:#989898;
    font-weight:400;
    font-size:12px;
    
}
.description-container{
    padding:15px 0px 0px 0px;
}
.like-btn{
    height:40px;
    width:40px;
    padding-bottom:5px;
    border-width: 0px;
    border-radius: 35px;
    background: #ffffff;
    right:4%;
    bottom:-10%;
    box-shadow: 3px 3px 5px #989898;
}
.like-btn i{
    font-size:18px;
    padding-top:7px;
    color: #989898;
}
.liked-btn{
    background:#FE7700;
}
.liked-heart{
    color:#ffffff !important;
}
.share-link{
    right:7%;
    top:37%;
    bottom:0%;
}
.follow-btn{
    height:56px;
    width:160px;
    border:2px solid #FE7700;
    color:#FE7700;
    border-radius: 30px;
    background: transparent;
}
.follow-btn:hover{
    background: #FE7700;
    color:#ffffff;
}
.organizers-card h5{
    font-size: 16px;
}

/* footer-part */
footer{
    background:#502274;
    padding:89px 0px 117px 0px;
}

.join-us-btn{
    background:#FE7700;
    height:56px;
    width:160px;
    border:0;
    border-radius:30px;
    color:#ffffff;
    font-size: 16px;
}
.download-app a{
    text-decoration: none;
}
footer h1{
    font-size:16px;
    color:#ffffff;
    padding:0px 0px 10px 0px;
}
footer a:hover{
    color:#FE7700;
}
.quick-link-container a{
    text-decoration: none;
    color:#C8C7CC;
}
.get-in-touch-container a{
    text-decoration: none;
    color:#C8C7CC;
    font-size:14px;
}
.get-in-touch-container i{
    color: #FE7700;
}
.follow-download-sec i{
    color:#ffffff;
}
.follow-icon{
    height:200px;
    width:200px;
}
.apple-app-container{
    background-color: #141415;
    height:51px;
    width:144px;
    border-radius:8px;
}
.apple-app-container h2{
    font-size:16px;
}
.apple-app-container span{
    font-size: 10px;
}
.goolge-container{
    background-color: #2F242C;
}
.organizers-card{
    min-height:344px;
    max-height: 344px;
}
.organizers-card p{
    color: #96969B;
}
footer .col-lg-3{
    padding: 0;
}
button:focus{
    outline: unset;
}

.animated-icon1, .animated-icon2, .animated-icon3 {
    width:30px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    .animated-icon2 span {
    background: #e3f2fd;
    }
    /* Icon 3*/
    
    .animated-icon2 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top:8px;
    }
    
    .animated-icon2 span:nth-child(4) {
    top: 16px;
    }
    
    .animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    .animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    
    .animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    
    .animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
@media only screen and (min-width:320px) and (max-width:576px){
    .profile-btn{
        font-size:10px;
    }
    .description-container h4{
        font-size:12px;
    }
    .resp-search-bar{
        height:80px;
    }
    .navbar{
        padding:10px;
    }
    .carousel-item img{
        min-height:100px;
    }
    .carousel-custom{
        margin-top:75px;
    }
    .navbar-brand img{
        height:35px;
        width:23px;
    }
    .section-head h1{
        font-size:15px;
    }
    .section-head p{
        font-size:12px;
    }
    .mobile-searh-input{
        font-size:12px;
    }
    .custom-arrow{
        margin-top:1px;
    }
    .carousel-control-next-icon{
        width:26px;
        height:26px;
    }
    .carousel-control-prev-icon{
        width:26px;
        height:26px;
    }
    .navbar-nav{
        display: flex;
    }
    .social-app-container{
        bottom:0%;
        left:30%;
        top:unset;
    }
    .nav-link div img {
        height: 16px;
        width: 16px;
    }
    .nav-link p {
        font-size:10px;
    }
    .profile-link{
        height:unset;
    }
    .search-btn-mobile{
        height:30px;
        width:30px;
        font-size:12px;
    }
    footer{
        padding:10px 0px 10px 0px;
    }
    .options{
        font-size:12px;
    }
}
@media only screen and (min-width:576px) and (max-width:768px){
    .search-btn-mobile{
        height:30px;
        width:30px;
        font-size:12px;
    }
}
@media only screen and (min-width:576px) and (max-width:1024px){
    .search-btn-mobile{
        height:30px;
        width:30px;
        font-size:12px;
    }
}


@media only screen and (min-width:1200px) and (max-width:1270px){
    .nav-link p{
        font-size: 12px;
    }
    .profile-btn{
        font-size:12px;
    }
    .search-input-el{
        width:610px;
    }
}
